@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); /* Heading Font */


/* Navigation Bar Styling*/
.navBar {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.863);
}

.navBar ul li {
  list-style-type: none;
  display: inline-block;
  line-height: 80px;
  transition: 0.7s all;
  font-family: 'Montserrat', sans-serif; /* non-heading font*/
  border-spacing: 10px;

}

.navBar ul li:hover{
  background: rgb(10, 172, 236);
}

.navBar ul {
  float: right;
  margin-right: 30px;
}

.navBar ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 30px;
}

.littleNav {
  width: 100%;
  height: 30px;
  background: rgb(10, 172, 236);
  color: #ffffff;
 
  
}

.littleNavText {

  font-family: 'Montserrat', sans-serif; /* non-heading font*/
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin-left: 25%;
}

/*App.js Accessories heading style*/

.accessoriesHeading{
  color: #BE933C;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;

}


.inputNumber{

  text-align: center;
  width: 20%;
  margin-left: 25px;
}

.addToCartButton {
  margin-top: 20px;
  height: 20%;
  width: 70%;
}

/* About Page*/

.aboutHeads {
  margin-top: 10%;
}

.aboutPara {
  margin-top: 8%;
  font-family: 'Montserrat', sans-serif; /* non-heading font*/

}

.aboutImage{

  width: 100%;
}


.cartHeading {
  text-align: center;
  margin-top: 20px;
}


.cartCountNumber{
  color:white;
  font-size: 10px;
  
}

.aboutLink {
  color:white;
}